.content
    div
        div(@click.prevent="refresh") refresh
        div(@click.prevent="clearAll") clear all
        div(@click.prevent="sendPlayerModeration('usr_4f76a584-9d4b-46f6-8209-8305eb683661', 'showAvatar')") set showAvatar
        div(@click.prevent="deletePlayerModeration('usr_4f76a584-9d4b-46f6-8209-8305eb683661', 'showAvatar')") unset showAvatar
    player-moderation-list-item(v-for="playerModeration in playerModerationList"
        :key="playerModeration.targetUserId"
        :player-moderation="playerModeration")
