.content
    div
        select(v-model="$i18n.locale")
            option(v-for="locale in $i18n.availableLocales" :key="locale" :value="locale")
                | {{ $t(`locale.${locale}`) }}
        span {{ $t('app.time', [now]) }}
